.title {
  text-decoration: none;
  color: (var(--bs-body-color));
}

.title:hover {
  text-decoration: none;
  color: (var(--bs-body-color));
}

.recommendation {
  display: block;
  width: auto;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .recommendation {
    width: 50%;
    margin: auto;
  }
}

img {
  /* width: 98%; */
  height: auto;
  border-radius: 12px;
}

@media screen and (min-width: 320px) {
  img {
    max-height: 167px;
  }
}

@media screen and (min-width: 375px) {
  img {
    max-height: 172px;
  }
}

@media screen and (min-width: 425px) {
  img {
    max-height: 215px;
  }
}

@media screen and (min-width: 768px) {
  img {
    max-height: 100%;
  }
}