.container {
  img {
    height: auto;
    border-radius: 12px;
    animation: fadein 1s ease;

    @keyframes fadein {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    @media screen and (min-width: 320px) {
      height: 167px;
    }

    @media screen and (min-width: 375px) {
      height: 172px;
    }

    @media screen and (min-width: 425px) {
      height: 215px;
    }

    @media screen and (min-width: 768px) {
      min-height: 387px;
      max-height: 100%;
    }

    @media screen and (min-width: 1024px) {
      min-height: 387px;
      max-height: 100%;
    }
  }
}

.title {
  text-decoration: none;
  color: (var(--bs-body-color));

  &:hover {
    text-decoration: none;
    color: (var(--bs-body-color));
  }
}

.recommendation {
  display: block;
  width: auto;
  text-align: center;

  @media screen and (min-width: 1200px) {
    width: 50%;
    margin: auto;
  }

  @media screen and (width: 1024px) {
    width: 79%;
    margin: auto;
  }
}
